<mat-toolbar>
  <h1>Iago Menezes</h1>
  <div class="pages">
      <a mat-button routerLink="./" routerLinkActive="ativo" [routerLinkActiveOptions]="{ exact: true }" draggable="false">Início</a>
      <a mat-button routerLink="./habilidades" routerLinkActive="ativo" draggable="false">Habilidades</a>
      <a mat-button routerLink="./educacao" routerLinkActive="ativo" draggable="false">Educação</a>
      <a mat-button routerLink="./projetos" routerLinkActive="ativo" draggable="false">Projetos</a>
      <a mat-button routerLink="./contato" routerLinkActive="ativo" draggable="false">Contato</a>
  </div>
</mat-toolbar>