main{
    display: flex;
    justify-content: center;
    gap: 30px;

    img{
        height: 300px;
        width: 300px;
        border-radius: 100%;
        transition: 500ms;
    }

    img:hover{
        height: 320px;
        width: 320px;
    }

    .text{
        width: 500px;
    }

    .social{
        display: flex;
        gap: 20px;

        i{
            border: solid 3px #950bd4;
            padding: 10px;
            border-radius: 100%;
            color: #950bd4;
            transition: 400ms;
        }

        i:hover{
            box-shadow: #950bd4 0px 0px 30px 3px;
            background-color: #950bd4;
            color: black;
        }
    }
}

@media screen and (max-width: 900px){
    main{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .text{
            text-align: center;
            width: 450px;
        }

        .social{
            justify-content: center;
        }
    }

}