    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<main>
    <img src="/main.jpeg" alt="Iago Menezes">
    <div class="text">
        <h1>{{ titulo }}</h1>
        <p>{{ texto }}</p>
    <div class="social">
        <a href="https://github.com/IagoMenezes555" target="_blank">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.instagram.com/iagomenezes37/" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
    </div>
</main>

