:root{
  --primary-color: #0d1366;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(14, 14, 14);
}

*{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}